seals @ git+https://github.com/HumanCompatibleAI/seals.git@a425714
imitation @ git+https://github.com/HumanCompatibleAI/imitation.git@tf-master
sacred @ git+https://github.com/IDSIA/sacred.git@e62bb6
gym[mujoco]~=0.21.0
tabulate
# Avoid https://github.com/matplotlib/matplotlib/issues/18407
matplotlib!=3.3.1,!=3.3.0
numpy
pandas
pymdptoolbox
# Ray uses pickle5 internally, which causes cloudpickle running inside Ray workers to
# also use version 5. Install it more generally so we can deserialize these outputs.
pickle5
ray>=1.0.0
seaborn
setuptools
scikit-learn
scipy
stable-baselines>=2.10.1
tensorflow>=1.15,<1.16
xarray
