seals @ git+https://github.com/HumanCompatibleAI/seals.git@a425714
imitation==0.1.1
stable-baselines @ git+https://github.com/hill-a/stable-baselines.git
sacred @ git+https://github.com/HumanCompatibleAI/sacred.git@trailing-comma-configs
gym[mujoco]
# Avoid https://github.com/matplotlib/matplotlib/issues/18407
matplotlib!=3.3.1,!=3.3.0
numpy
pandas
pymdptoolbox
seaborn
setuptools
scikit-learn
scipy
tensorflow>=1.15,<1.16
xarray
