seals @ git+https://github.com/HumanCompatibleAI/seals.git@a425714
imitation @ git+https://github.com/HumanCompatibleAI/imitation.git@0173423
stable-baselines @ git+https://github.com/hill-a/stable-baselines.git
gym[mujoco]
matplotlib
numpy
pandas
pymdptoolbox
seaborn
setuptools
scipy
tensorflow>=1.15,<1.16
xarray
