black
codecov
codespell
flake8
flake8-blind-except
flake8-builtins
flake8-debugger
flake8-isort
flaky
hypothesis[numpy]
isort
nbval
pylint>=2.4,<2.5
pytype
pytest
pytest-cov
pytest-shard
pytest-xdist
